# use glob syntax.
syntax: glob
target/
test-output/
bin/
.settings/
.classpath
.project
.idea/
*.iml
*.eml
*.ipr
*.iws
*.DS_STORE
TAGS
.metadata/
atlassian-ide-plugin.xml
.DS_Store
.java-version
.factorypath
.apt_generated
.apt_generated_tests
.checkstyle
nb-configuration.xml
nbactions.xml
/.nb-gradle/
dependency-reduced-pom.xml
.vscode
