<?xml version="1.0" encoding="UTF-8"?>
<S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
    <S:Body>
        <ns2:getServerResponse xmlns:ns2="http://ws.api.profitbricks.com/">
            <return>
                <requestId>16366014</requestId>
                <dataCenterId>aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee</dataCenterId>
                <dataCenterVersion>10</dataCenterVersion>
                <serverId>qwertyui-qwer-qwer-qwer-qwertyyuiiop</serverId>
                <serverName>facebook-node</serverName>
                <cores>4</cores>
                <ram>4096</ram>
                <internetAccess>true</internetAccess>
                <ips>173.252.120.6</ips>
                <connectedStorages>
                    <bootDevice>true</bootDevice>
                    <busType>VIRTIO</busType>
                    <deviceNumber>1</deviceNumber>
                    <size>40</size>
                    <storageId>qswdefrg-qaws-qaws-defe-rgrgdsvcxbrh</storageId>
                    <storageName>facebook-storage</storageName>
                </connectedStorages>
                <nics>
                    <dataCenterId>aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee</dataCenterId>
                    <dataCenterVersion>10</dataCenterVersion>
                    <nicId>qwqwqwqw-wewe-erer-rtrt-tytytytytyty</nicId>
                    <lanId>1</lanId>
                    <internetAccess>true</internetAccess>
                    <serverId>qwertyui-qwer-qwer-qwer-qwertyyuiiop</serverId>
                    <ips>173.252.120.6</ips>
                    <macAddress>02:01:09:cd:f0:b0</macAddress>
                    <firewall>
                        <active>false</active>
                        <firewallId>wqwqwqwq-ewew-rere-trtr-ytytytytytyt</firewallId>
                        <nicId>qwqwqwqw-wewe-erer-rtrt-tytytytytyty</nicId>
                        <provisioningState>AVAILABLE</provisioningState>
                    </firewall>
                    <dhcpActive>true</dhcpActive>
                    <gatewayIp>173.252.120.1</gatewayIp>
                    <provisioningState>AVAILABLE</provisioningState>
                </nics>
                <provisioningState>AVAILABLE</provisioningState>
                <virtualMachineState>RUNNING</virtualMachineState>
                <creationTime>2014-12-04T07:09:23.138Z</creationTime>
                <lastModificationTime>2014-12-12T03:08:35.629Z</lastModificationTime>
                <osType>LINUX</osType>
                <availabilityZone>AUTO</availabilityZone>
                <cpuHotPlug>true</cpuHotPlug>
                <ramHotPlug>true</ramHotPlug>
                <nicHotPlug>true</nicHotPlug>
                <nicHotUnPlug>true</nicHotUnPlug>
                <discVirtioHotPlug>true</discVirtioHotPlug>
                <discVirtioHotUnPlug>true</discVirtioHotUnPlug>
            </return>
        </ns2:getServerResponse>
    </S:Body>
</S:Envelope>